@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --top-margin: 4rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

@media (max-width: 768px) {
    :root {
    }
}
.main-content {
    margin-top: var(--top-margin);
}

.hover-highlight {
    @apply hover:bg-slate-200 transition duration-300 ease-in-out cursor-pointer;
}

.standart-input {
@apply pl-1 py-3 mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm;


}

.standart-label {
   @apply block text-sm font-medium text-gray-700;
}

.headline {
    @apply text-3xl
}                    