@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --top-margin: 4rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

@media (max-width: 768px) {
    :root {
    }
}
.main-content {
    margin-top: var(--top-margin);
}

.hover-highlight {
    @apply hover:bg-slate-200 transition duration-300 ease-in-out cursor-pointer;
}
